@import "tailwindcss";


@theme {

  @keyframes fade-spinner {
    from { opacity: 1; }
    to { opacity: 0.25; }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --color-green-navbar:#2C666E;
    --color-text-navbar:#f0edee;

    --color-bg-section:#ffffff;
    --color-primary-bg:#f0edee;
    --color-primary-text:#2C666E;
    --color-product-bg:#f0edee;

    --color-form-bg:#f0edee;
    --color-form-input:#ffffff;
    --color-form-text:#2C666E;
    

   
}
.dark{
   --color-green-navbar:#2C666E;
    --color-text-navbar:#f0edee;

    --color-bg-section:rgba(0,0,0,0.5);
    --color-primary-bg:#2C666E;
    --color-primary-text:#f0edee;
    --color-product-bg:rgba(0,0,0,0.5);

    --color-form-bg:#f0edee;
    --color-form-input:#ffffff;
    --color-form-text:#2C666E;
}

@layer components{
    .button-navbar{
        @apply bg-text-navbar text-green-navbar rounded-md p-1 text-sm cursor-pointer hover:opacity-50
    }
    .offerProducts-details{
        @apply text-lg font-semibold md:w-[265px]
    }
    .navbar-lists{
        @apply text-text-navbar hover:opacity-50 cursor-pointer no-underline md:font-medium
    }
    .footer-boxses{
        @apply flex flex-col items-center gap-1 text-center md:items-start md:text-left
    }
    .footer-links{
        @apply no-underline cursor-pointer hover:opacity-60 text-text-navbar
    }
    .footer-connects{
        @apply flex items-center gap-1
    }
    
}


