@import "tailwindcss";

@theme{
    --color-green-navbar:#2C666E;
    --color-text-navbar:#f0edee;
    --color-primary-bg:#f0edee;
    --color-primary-text:#2C666E;
}

@layer components{
    .button-navbar{
        @apply bg-text-navbar text-green-navbar rounded-md p-1 text-sm cursor-pointer hover:opacity-50
    }
    .offerProducts-details{
        @apply text-lg font-semibold md:w-[265px]
    }
    .navbar-lists{
        @apply text-text-navbar hover:opacity-50 cursor-pointer no-underline md:font-medium
    }
    .footer-boxses{
        @apply flex flex-col items-center gap-1 text-center
    }
    .footer-links{
        @apply no-underline cursor-pointer hover:opacity-60 text-text-navbar
    }
}


